* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
hr {
  margin: 0;
}

ul {
  padding-left: 0;
}
.box {
  display: none;
}
header {
  background-color: palevioletred;
  color: white;
}

.logo {
  padding: 10px 20px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.icon {
  background-color: black;
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 50%;
  right: 0;
}

li {
  list-style: none;
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

li .item.active {
  color: black;
}

main {
  width: 100%;
  background-color: pink;
  min-width: 0;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}

.nav-top .icon-nav {
  padding: 20px;
}

.nav-top img {
  width: 50px;
}
.img-table {
  margin-left: 25%;
}
.container .card h4 {
  width: 30px;
  height: 30px;
  background-color: palevioletred;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
  margin: 10px 0 0 10px;
}
.container .top-page-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .top-page-order .choose-a-table {
  display: flex;
  align-items: center;
}

.container .card .food-order-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.container .infor {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .screen {
    display: flex;
  }
  .screen header {
    height: 100vh;
  }
  .icon {
    transform: translate(50%, -50%);
  }
  .main {
    height: calc(100vh - 77px);
    overflow-y: scroll;
  }
}

@media screen and (min-width: 741px) and (max-width: 1023px) {
  .screen {
    display: flex;
  }
  .screen header {
    height: 100vh;
  }
  .icon {
    transform: translate(50%, -50%);
  }
  .main {
    height: calc(100vh - 77px);
    overflow-y: scroll;
  }
  .container .top-page-order {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 740px) {
  .icon {
    transform: translate(0%, -50%);
  }
  .container .top-page-order {
    flex-wrap: wrap;
  }
}
